
.wrapper {
  padding: 0 48px 0 17px;
}

.user-list {
  margin-top: 48px;
}

.user-item {
  height: 80px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 18px;
}

.user-list li {
  list-style-type: none;
}

.inline-element {
  display: inline;

}

.avatar {
  margin-left: 16px;
}

.avatar img {
  height: 48px;
  margin-top: 16px;
}

.padding-top {
  padding-top: 30px;
}

.right-pad-top {
  padding-top: 30px;
}

.float-block {
  float: left;
}

.right-block {
  float: right;
}

.person-fio {
  margin-left: 16px;
}

.balans {
  margin-left: 44px;
}

.status {
  margin-right: 46px;
}

.update-user {
  margin-right: 54px;
}

.update-user {
  color: #A8A8A8;
}

.red-snackbar {
  color: #f6f8f6;
  background-color: #e74c3c;
}

.my-dialog {

  font-family: 'Inter';
  font-style: normal;


  .mat-dialog-container {
    position: relative;
    padding: 20px 25px 50px 34px;
  }

  .mat-dialog-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
  }

  .sticky-modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 22px 22px;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 11px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background-image: url("/assets/img/remove.png");
    background-repeat: no-repeat;
  }
}




